<form id="uploadForm6"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">


              <span class="btn btn-primary btn-file">


 בחר תמונה
              <input id="fileInputElement6"
                     data-classIcon="icon-plus"
                     data-buttonText="בחר תמונה"
                     type="file"
                     multiple="false"
                     accept="image/jpeg"
                     data-ng-model="theFile6"
                     onchange="angular.element(this).scope().fileNameChanged6()"
                      />
                  </span>

    <button type="button" ng-click="enablePictureDisplay(6,false)"  ng-show="showPicture6" class="btn btn-primary">מחק</button>

    <div class="hearts" >
        <img  id="img6" src="{{imageSrc6}}" ng-click="roate(6)"  ng-show="showPicture6" ng-style="{'width': pictureWidth , 'height': pictureHeight }" class="pictures"/>
    </div>

</form>
