<form id="uploadForm5"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">


              <span class="btn btn-primary btn-file">


 בחר תמונה
              <input id="fileInputElement5"
                     data-classIcon="icon-plus"
                     data-buttonText="בחר תמונה"
                     type="file"
                     accept="image/jpeg"
                     multiple="false"
                     data-ng-model="theFile5"
                     onchange="angular.element(this).scope().fileNameChanged5()"
                      />
                  </span>

  <button type="button" ng-click="enablePictureDisplay(5,false)"  ng-show="showPicture5" class="btn btn-primary">מחק</button>


  <div class="hearts">
        <img id="img5"  src="{{imageSrc5}}" ng-click="roate(5)" ng-show="showPicture5" ng-style="{'width': pictureWidth , 'height': pictureHeight }" class="pictures"/>
    </div>

</form>
