<form id="uploadForm8"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">


              <span class="btn btn-primary btn-file">


 בחר תמונה
              <input id="fileInputElement8"
                     data-classIcon="icon-plus"
                     data-buttonText="בחר תמונה"
                     type="file"
                     accept="image/jpeg"
                     multiple="false"
                     data-ng-model="theFile8"
                     onchange="angular.element(this).scope().fileNameChanged8()"
                      />
                  </span>

    <button type="button" ng-click="enablePictureDisplay(8,false)"  ng-show="showPicture8" class="btn btn-primary">מחק</button>

    <div class="hearts" >
        <img src="{{imageSrc8}}"  ng-show="showPicture8" ng-show="showPicture8" ng-style="{'width': pictureWidth , 'height': pictureHeight }" class="pictures"/>
    </div>

</form>
