<form id="uploadForm15"
      enctype="multipart/form-data"
      action="/api/photo"
      method="post">


              <span class="btn btn-primary btn-file">


 בחר תמונה
              <input id="fileInputElement15"
                     data-classIcon="icon-plus"
                     data-buttonText="בחר תמונה"
                     type="file"
                     multiple="false"
                     accept="image/jpeg"
                     data-ng-model="theFile15"
                     onchange="angular.element(this).scope().fileNameChanged15()"
                      />
                  </span>

    <button type="button" ng-click="enablePictureDisplay(15,false)"  ng-show="showPicture15" class="btn btn-primary">מחק</button>

    <div class="hearts" >
        <img src="{{imageSrc15}}" ng-show="showPicture15" ng-style="{'width': pictureWidth , 'height': pictureHeight }" class="pictures"/>
    </div>

</form>
