/* CSS REQUIRED */
.state-icon {
  left: -5px;
}
.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
  margin-bottom: 0px;
}
