
<style>
  .nonewline{
    overflow:hidden;
    white-space: nowrap;
    display:inline;
  }

</style>
<div class="container">


  <div dir="RTL">
    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">ברוכים הבאים לאתר <span style="color:#FF8C00;"><span dir="LTR">RealLove</span></span></span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">בנינו אתר חדש שיתן לכם חווית גלישה מהירה בטכנולוגיות בניית אתרים חדשה.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">בניית הכרטיס היא נוחה ומהירה ושואלת את השאלות הנכונות למציאת בן או בת זוג לחיים.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אתר דינמי. תוכלו לבחור את גודל התמונה, לבחור מספר דרכים לצפות בתמונות וגם וידאו</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אפשר&nbsp; להעלות 15 תמונות בגודל מסך מלא.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">צ&#39;ט דינמי ומהיר</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">מחיקת תמונה לא נעשית רק בהחבאה שלה, אנחנו מוחקים אותה מהמאגר שלנו.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">מחיקת כרטיס. דרך האתר מחיקה מלאה בשנייה</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אנחנו שולחים התאמות אם תרצו.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">שימו לב שהשאלות שאנו שואלים בהרשמה הם לעניין משותף כמו ספורט הליכה ו ריצה שאפשר לעשות ביחד.</span></p>

    <p dir="RTL"><span style="font-family: arial, helvetica, sans-serif;">חילוניים כן ישאלו לגבי הכשרות.</span></p>

    <p dir="RTL"><span style="color:#FF8C00;"><strong><span style="font-family: arial, helvetica, sans-serif;">תשלום.</span></strong></span></p>

    <p dir="RTL"><font face="arial, helvetica, sans-serif">עד הודעה חדשה האתר חינם, חופשי לשימוש.תהנו ותזמינו חברים.</font></p>

    <p dir="RTL"><font face="arial, helvetica, sans-serif">ביום שנגבה תשלום הוא יהיה הוגן,לא יקר ובנוי מעיקרון אחר שאתם מכירים.</font></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;"><strong>חמישים אגורות</strong> להודעה ראשונית. ברגע שהתחלתם לשוחח דרך האתר כמובן לא נגבה על זה כסף.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">תוכלו לרכוש כמה הודעות שתרצו, המגבלה היא החיוב בויזה.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">כלומר אם מצאתם מישהו או מישהו שממש נראה לכם תוכלו לקנות חבילה הכי קטנה ב 10 שקלים ואז יהיו לכם 20 הודעות.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">להודעות אין פקיעת תוקף.</span></p>

    <p dir="RTL"><span style="color:#FF8C00;"><strong><span style="font-family: arial, helvetica, sans-serif;">שאלות שלא נשאל אתכם.</span></strong></span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">חשבנו היטב על השאלות שלנו. ב 2015 השאלות באתר הכרויות צריכות להתאים את עצמן:</span></p>

    <p dir="RTL">&nbsp;</p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">צריכת אלכוהול &ndash; אנחנו לא משטרת ישראל ואין לנו ינשוף( מכשיר לבדיקת אלכוהול בדם)</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; אנחנו נשאיר לכם לברר מה תעשו עם כוס יין בבית או שתהיו בארוע ביחד.</span></p>

    <p dir="RTL">&nbsp;</p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">גובה &ndash; מאיזה גובה אתם מחפשים וזהו. השמיים הם הגבול שלנו.אם זה באמת חשוב לכם תשאלו אחד את השנייה.</span></p>

    <p dir="RTL">&nbsp;</p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">מוצא &ndash; בשיחת טלפון תוכלו לבנות אילן יוחסין. הפרדה של אשכנזים וספרדים נעשית במגזר החרדי בבית שמש</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ובכלל במיגזר החרדי.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; האתר עדיין לא פתוח לחרדים אבל הנך משתייכ/ת למיגזר החרדי ורוצה ייצוג באתר שלנו תשלח לנו</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">הודעה נשמח לדעת.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">בכל מקרה בשום מקום לא ישאלו מעבר לזה וטוב שכך.</span></p>

    <p dir="RTL">&nbsp;</p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">עוד ילדים?</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אז הכרתם והתחתנם, הרבה מזל טוב, אנחנו הכי מאושרים שזה קרה דרכנו.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אם אין לכם בעיות בריאותיות אז אין סיכוי שלא תרצו ילד משותף.</span></p>

    <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">בכל מקרה תבררו בינכם.</span></p>
  </div>



</div>
