<style>

  .ui-select-bootstrap .ui-select-toggle > .caret {
    right: initial;
    left: 10px; /* or any other value - it should be the same as the original right value */

  }

  .ui-select-bootstrap > .ui-select-match > .btn {
    text-align: right !important;
    direction: rtl;
    background-color: white;
    color: black;
  }

  .ui-select-bootstrap > .ui-select-choices > .btn > span.pull-left {
    float: right !important;

  }

  .ui-select-bootstrap > .ui-select-match > .btn > span.pull-left {
    float: right !important;

  }

</style>

<div class="container" ng-controller="coredetailsController as vm">
  <form name="form" novalidate
        ng-submit="submit(form.$valid)">

    <div class="row">
      <div class="col-sm-6">

      </div>

      <div class="col-sm-3">
        בחר עיר:
        <ui-select id="city" ng-change="calczodiacsign()"   theme="bootstrap" ng-model="vm.user.city"
                   required>
          <ui-select-match placeholder="select city">
            <span ng-bind="$select.selected[0]"></span>
          </ui-select-match>
          <ui-select-choices repeat="city in vm.cities |filter : $select.search">
            <span ng-bind-html="city[0] | highlight : $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-sm-3">
        <div>
          <label for="gender">אני </label>
          <select class="form-control" id="gender" ng-model="vm.user.gender" ng-change="updatestatus(1)">
            <option ng-repeat="item in vm.gendercollection" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-5">

      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="status"> הצג את הכרטיס שלי לחברים עם נתוני בסיס זהים (להוציא מספר ילדים במקרה שיש ילדים
            ולהוציא עיר מגורים)
          </label>
          <checkbox ng-model="checkboxModel" name="presentthesame" ng-change="onChange()"></checkbox>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error': form.status.$error.required }">
          <label for="status">סטטוס</label>
          <select id="status" class="form-control" name="status" ng-model="vm.user.status" required>
            <option ng-repeat="item in vm.status" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-3">
        <div class="form-group" ng-class="{ 'has-error': form.religion.$error.required }">
          <label for="religion">דת</label>
          <select id="religion" class="form-control" name="religion" ng-model="vm.user.religion"
                  ng-change="updatestatus(1)" required>
            <option ng-repeat="item in vm.religionbelong" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">

        <div class="form-group" ng-class="{ 'has-error': form.religionbelong.$error.required }">
          <label for="religionbelong">שיוך דתי</label>
          <select id="religionbelong" name="religionbelong" class="form-control" ng-model="vm.user.religionbelong"
                  ng-change="updatestatus(1)" required>
            <option ng-repeat="item in vm.religion" value="{{item}}">{{item}}</option>
          </select>
        </div>


      </div>
    </div>


    <div class="row">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-3">


        <label for="kids">מספר ילדים</label>
        <select class="form-control" name="smoking" id="kids" ng-model="vm.user.numberofkids" required>
          <option>ללא ילדים</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>יותר מחמש</option>
        </select>

      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-3">

        <div class="form-group" style="white-space:nowrap">
          <table>
            <tr>
              <td>
                <button type="submit" style="margin-top:25px" ng-disabled="registrationForm.$invalid"
                        class="btn btn-primary">שמור נתונים
                </button>
              </td>
              <td style="padding:0 15px 0 15px;">
              </td>
              <td>
                <h1 ng-show="changesuccess" ng-class="{ 'animated bounce': changesuccess}">השינויים עודכנו</h1></h1>
              </td>
            </tr>
          </table>
        </div>


      </div>
      <div class="col-sm-3">

        <label for="smoking">{{vm.smokingLabel }} </label>
        <select class="form-control" name="smoking" id="smoking" ng-model="vm.user.smoking" required ng-change="updatestatus(1)">
          <option>כן</option>
          <option>לא</option>
        </select>

      </div>
    </div>
  </form>
</div>

