<div class="container">



  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אתר <strong><span style="color:#FFA500;"><span dir="LTR">real love</span></span></strong> הוא אתר חדשני עם טכנולוגיות <span dir="LTR">WEB </span>&nbsp;מתקדמות אשר יעניקו לכם חוויה אחרת בחיפוש בני ובנות זוג לחיים.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">מה שונה אצלנו:</span></p>

  <ul dir="rtl">
    <li><span style="font-family:arial,helvetica,sans-serif;">&nbsp;כל התמונות בגודל מלא</span></li>
    <li>
      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">ככל שהמסך שלכם גדול יותר ככה התמונות הן גדולות יותר.</span></p>

      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אז שאתם מעלים תמונה תעלו תמונת <span dir="LTR">JPEG </span>&nbsp;באיכות טובה עם רזולוציה הכ גדולה שיש לכם.</span></p>

      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אנחנו לא מכווצים את התמונות ומציגים אותם בגודל המסך.</span></p>

      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אם המסך משנה גודל ( <span dir="LTR">resize</span>) התמונות אוטומטית יותאמו למסך.</span></p>
    </li>
    <li><span style="font-family: arial, helvetica, sans-serif;">מסך גדול ויפה לראות כל החברים, לחיצה על תמונה תציג את החבר בגודל מלא עם תאור.</span></li>
    <li><span style="font-family:arial,helvetica,sans-serif;">אנחנו מאפשרים לעלות וידאו אחד עד 20 שניות. להבדיל מהתמונות, קטעי וידאו קודם יאושרו על ידינו ואחכ יועלו לאתר.</span></li>
    <li>
      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">גם ב מחשב אישי , נייד או <span dir="LTR">desktop</span>, תוכלו להשתמש בעכבר בתנועות <span dir="LTR">gestures</span></span></p>

      <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">תנועות אלה הם ברירת המחדל שמשתמשים בטלפונים או טאבלטים. החלקה ימינה ושמאלה לראות תמונה הבא או תמונה קודמת.</span></p>
    </li>
  </ul>

  <p dir="RTL"><span style="color:#FFA500;"><span style="font-size:20px;"><span style="font-family:arial,helvetica,sans-serif;">העלאת תמונות</span></span></span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">ניתן להעלות עד 15 תמונות בגודל מלא. התמונות הם בפורמט <span dir="LTR">jpg </span>&nbsp;&nbsp;ורצוי מאד להעלות תמונות גדולות.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">מי שיש לו תמונות בטלפון יכול להעלות תמונות ישר מהטלפון.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">תמונות קטנות מידיי לא יתקבלו.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">על מנת להעלות תמונות תוכלו לגשת ל עדכן פרטים -&gt; כל הפרטים האישיים או רק לתמונות.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">ברגע שבחרתם תמונות היא תטען וכבר תשמר( אין שני שלבים של בחר והעלה)</span></p>

  <p dir="RTL"><span style="color:#FFA500;"><span style="font-size:20px;"><span style="font-family: arial, helvetica, sans-serif;">מחיקת תמונות.</span></span></span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אנו מתחייבים למחוק את התמונות ממאגר הנתונים שלנו ברגע שבחרתם מחר תמונה.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">שימו לב את התמונות אפשר להציג לנוחיותכם כמעט בכל גודל על ידי <span dir="LTR">slider </span>&nbsp;, שמראה גודל תמונה מ 200 עד 1300.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">שימו לב שהשאלות שלנו נבחרו מתוך ניסיון והן שאלות שמענינות את בני הזוג.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">למשל ספורט שאפשר בדרך כלל לעשות ביחד,&nbsp; מגורים.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אם יש לכם שאלות שהייתם רוצים למצוא בכרטיס נשמח שתשלחו לנו ואנחנו בהחלט נשקול את הבקשה.</span></p>

  <p dir="RTL"><span style="font-family:arial,helvetica,sans-serif;">אם נתקלתם בבעיה,תקלה או כל דבר שתרצו לדווח לנו, השאירו לנו הודעה בצור קשר ואנחנו נדאג לתקן להודיע לכם על כל שינוי.</span></p>

  <p dir="rtl">&nbsp;</p>

</div>
