<style>


  .exttab
  {
      margin-top: 45px;
  }


</style>


<div class="container">

  <div id="exTab1" class="container">
    <ul class="nav nav-pills navbar-right">
      <li>
        <a data-target="#1a" data-toggle="tab">מחק כרטיס</a>
      </li>
      <li>
        <a data-target="#2a" data-toggle="tab">וידאו</a>
      </li>
      <li><a data-target="#3a" data-toggle="tab">תמונות</a>
      </li>
      <li><a data-target="#4a" data-toggle="tab">פרטים נוספים</a>
      </li>
      <li class="active"><a data-target="#5a" data-toggle="tab">פרטי בסיס</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane" id="1a">
        <div class="exttab" ng-include="'appmodules/homepage/client/views/deletecard.html'"></div>
      </div>
      <div class="tab-pane active" id="2a">
        <div class="exttab" ng-include="'appmodules/homepage/client/views/myvideo.html'"></div>
      </div>
      <div class="tab-pane" id="3a">
        <div class="exttab" ng-include="'appmodules/homepage/client/views/mypictures.html'"></div>
      </div>
      <div class="tab-pane" id="4a">
        <div class="exttab" ng-include="'appmodules/homepage/client/views/continueregistration.html'"></div>
      </div>
      <div class="tab-pane active" id="5a">
        <div class="exttab" ng-include="'appmodules/homepage/client/views/coredetails.html'"></div>
      </div>
    </div>
  </div>
</div>
