<div class="container">


    <div style="height: 800px; overflow: auto" scroll-glue>

        <div class="row">


            <div class="col-md-8 pull-right">
                <irontec-simple-chat messages="messages"
                                     username="username"
                                     imageUrl="imagesrc"
                                     input- placeholder-text="You can write here"
                                     submit-button-text="שלח הודעה"
                                     title="{{  title }}"
                                     theme="material" submit-function="sendMessage"
                                     visible="visible" expand-on-new="expandOnNew">
                </irontec-simple-chat>
            </div>

        </div>

    </div>
