<div class="container" ng-controller="mypicturesController as vm">
  <form name="registrationForm" novalidate
        ng-submit="submit(registrationForm.$valid)">

    Picture size: {{price}}
    <div slider config="sliderConfig" confirm-action="setPrice()" model="price" class="cdbl-slider"></div>

    <div class="row">

      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload1.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload2.html'"></div>
      </div>


      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload3.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload4.html'"></div>
      </div>


      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload5.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload6.html'"></div>
      </div>


      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload7.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload8.html'"></div>
      </div>


      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload9.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload10.html'"></div>
      </div>

      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload11.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload12.html'"></div>
      </div>

      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload13.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload14.html'"></div>
      </div>
      <div class="col-xs-auto pull-right">
        <div ng-include="'appmodules/homepage/client/templates/pictureupload15.html'"></div>
      </div>
    </div>
  </form>
</div>
