<div class="container">
  <div dir="rtl"><font face="arial, helvetica, sans-serif">רשמתי מדריך קצר להתמצאות באתר.</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">יש כמה שלבים</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">1.הרשמה ואישור במייל</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">2.התחברות ראשונית לאחר אישור המייל יביא אתכם למלא פרטי
    כרטיס.</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp; &nbsp;פרטי בסיס,פרטים כלליים,תמונות כולל תמונות פרופיל
    אחת חובה, עמוד אישי אם רוצים ווידאו אחד.</font></div>

  <div dir="rtl">&nbsp; &nbsp;<span style="font-family: arial, helvetica, sans-serif;">הוידאו והעמוד אישי הם בחירה שלכם להוסיף או לא.</span>
  </div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp; &nbsp;להכנסת וידאו יש אפשרויות הצגה שונות ואתם יכולים
    לשלוט מי רואה את הוידאו שלכם ומי לא.</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp;&nbsp; עמוד אישי, שבו תוכלו להעלות טקסט חופשי, תמונות
    עוד וידאו שלכם וגם תמונת 360.</font></div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">&nbsp;&nbsp; &nbsp;ברגע שהחלטתם לאפשר את העמוד הוא יהיה זמין,
    תוכלו גם להסתיר את ההצגה שלו.</font></div>

  <div dir="rtl">&nbsp;</div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">אחרי שהכנסתם את כל הפרטים הגיע הזמן לחפש בן או בת זוג.</font>
  </div>

  <div dir="rtl">&nbsp;</div>

  <div dir="rtl"><font face="arial, helvetica, sans-serif">צעד ראשון הוא להחליט מה לחפש כאן</font></div>

  <div dir="rtl">&nbsp;</div>

  <div dir="rtl"><span style="color:#FF0000;"><span
    style="font-family: arial, helvetica, sans-serif;">שימו לב&nbsp;</span></span><span
    style="font-family: arial, helvetica, sans-serif;">שתוכלו להחליט בפרטי הבסיס למי לא לחשוף את הכרטיס.כלומר, גם אם מוגדר אצלם לחפש כרטיסים שלכם עדיין תוכלו </span>
  </div>

  <div dir="rtl"><span
    style="font-family: arial, helvetica, sans-serif;">להחליט לא לאפשר להם לראות את הכרטיס שלכם.</span></div>

  <div dir="rtl">&nbsp;</div>

  <div dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></div>

  <div dir="rtl">&nbsp;</div>
</div>
