<div class="container">
<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">בניתי את <span style="color:#FF8C00;">RealLove</span> על מנת לשלב את כל הטכנולוגיות החדשות ולתת לכם חויית גלישה כיפית בדרך למצוא&nbsp;</span></p>

<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">זוגיות נהדרת.</span></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">האתר שלנו עומד לשלב טכנולוגיות של virtual reality בכל מיני צורות:</font></p>

<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">1.sphere images</span></p>

<p dir="rtl">2.<span style="font-family:arial,helvetica,sans-serif;">Video 360&nbsp;</span></p>

<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">3.virtual reality with oculus rift</span></p>

<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">4. virtual reality with samsung gear vr</span></p>

<p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">לא הכל מתאים לאתר הכרויות, יש נושאים שדווקא מתאימים יותר לתחומים אחרים.</span></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">כל הטכנולוגיות הללו דורשות חומרה נוספת. אם זה טלפון נייד של סמסונג, גלקסי note 5 או S6</font></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">gear vr או rift.</font></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">אנחנו נלמד אתכם כאן את כל הטכנולוגיות הללו, תוכלו להשתמש בהם באתר או שתקחו את המידע איתכם.</font></p>

<p dir="rtl"><u><font face="arial, helvetica, sans-serif">נתחיל מה-&nbsp;</font><span style="font-family: arial, helvetica, sans-serif;">sphere images &nbsp;בנייד מסוג סמסונג.</span></u></p>

<p dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">התוכנה לצלם ב 360 מעלות אינה נמצאת בהתקנה הראשונית בטלפון, יש להוריד אותה.</span></p>

<p dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">בשביל להוריד אותה, הכנס למצלמה שלך, בצד שמאל יש כיתוב קטן,מצב,&nbsp; היכנס למצב ומשם להורד. יפתח לכם עמוד שכולו אפליקציות שמתאימות למצלמה.</span></p>

<p dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">הורידו את <span style="color:#0000CD;">surround shot</span>.&nbsp;</span></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">באמצעות אופציה זו תוכלו לצלם את כל החדר, זה לוקח מעט זמן, צריך לעבור על כל עיגול עד שהכדור בצד שמאל כולו תכלת.</font></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">ברגע שסיימתם, תוכלו לראות את התמונה ב 360 בטלפון, לנוע בחדר ממקום למקום, ימינה שמאלה,&nbsp;למטה ולמעלה.</font></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">מרוצים?, העלו את התמונה למחשב.</font></p>

<p dir="rtl"><font face="arial, helvetica, sans-serif">תוכלו לראות תמונות 360 באתר הזה&nbsp;</font><a href="http://photosphereviewer.net/view">http://photosphereviewer.net/view</a>&nbsp;</p>

<p dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">תוכלו גם להעלות את התמונה לאתר שלנו לעמוד הבית שלכם אצלנו באתר והתמונה תוצג כתמונת 360&nbsp;</span></p>

<p dir="rtl"><span style="font-family: arial, helvetica, sans-serif;">שימו לב שאם פותחים את התמונה ב viewer שאינו תומך 360 התמונה נראית מוזר.אם תעלו אותה לאתר שלנו או באתר שרשום למעלה או בטלפון תוכלו לראות את התמונה ב 360 מעלות.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl">&nbsp;</p>


<p dir="rtl"><font face="arial, helvetica, sans-serif">על RICHO THETA שמעתם?</font></p>

<p dir="rtl">&nbsp;</p>


  <img src="/appmodules/homepage/client/images/vr/intro/richothetagoogle.PNG">




  <p dir="rtl"><a href="https://theta360.com/en/">https://theta360.com/en/</a></p>

  <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">בשביל לצלם תמונות ווידאו ב 360 מעלות בצורה נוחה יותר מהטלפון שלכם ( שמצלם רק תמונה ב360) תוכלו לקנות את המצלמה הזו. כמובן זה לא בשביל האתר שלנו, אבל אם יש לכם או יהיה לכם, אז יהיה מגניב.</span></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">המצלמה הזו לא יקרה יחסית לפתרונות אחרים שלמשל מציעים לקנות מעמד מיוחד עם 6 מצלמות GoPro שעולה לא מעט.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">תוכלו לראות סרטונים ותמונות ב360 מעלות באתר שלהם וגם אחד שמראה בצורה מגניבה על מה מדובר&nbsp;</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif"><a href="https://www.youtube.com/watch?v=zU95-wX0xJo">https://www.youtube.com/watch?v=zU95-wX0xJo</a></font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">המצלמה בדגם החדש -S שומרת עד 25 דקות סרט.אחר כך מעלים את הסרט למחשב ובאמצעות תוכנה צריכים לבצע פעולה שנקראת stiching. פעולה זה מחברת את הוידאו או התמונות ל360 מעלות.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">ברגע שזה מוכן תוכלו להעלות את הוידאו ל youtube , להוריד אפליקציות של richo theta לגלקסי ולאייפון ולצפות שם.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">אז עוד לא דיברנו על oculus ומה אנחנו עומדים לעשות אם זה, רק קחו בחשבון שזה הדבר הכי חם היום ב virtual reality הוא לא יקר.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">לדוגמא samsung gear vr עולה 99$ בחו&quot;ל וה oculus rift למחשב עוד לא יצא בזמן שאני רושם את המדריך הזה.</font></p>

  <img src="/appmodules/homepage/client/images/vr/intro/gearvr.png">
  <img src="/appmodules/homepage/client/images/vr/intro/dk2.png">

  הריפט יצא עד 2016 Q1 לכולם (עד עכשיו היה רק למפתחים)



  <p dir="rtl"><font face="arial, helvetica, sans-serif">אבל אחד מהשניים כדאי לכם לקנות, אתרים נוספים שלי עומדים לעבוד בעיקר עם שניהם והחיבור עם ה RICHO יהיה פשוט מדהים.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">מרבית הישומים שמפתחים כעת ל rift &nbsp;ו ל gear vr הם למשחקים אבל לא רק.</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">חפשו ב youtube כל מה שקשור ל &nbsp;samsung gear vr &nbsp;ול oculus rift (אגב שניהם של oculus אשר נקנתה על ידי פייסבוק).</font></p>

  <p dir="rtl"><font face="arial, helvetica, sans-serif">פייסבוק גם אמורה לתמוך בקבצי וידאו ותמונה ב 360 מעלות</font></p>

  <p dir="rtl">&nbsp;</p>



  <p dir="rtl"><span style="color:#0000CD;"><font face="arial, helvetica, sans-serif">קישורים:</font></span></p>

  <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">כיצד להתקין ולצלם תמונה ב 360 עם הגלקסי&nbsp;<a href="https://www.youtube.com/watch?v=nIvwwl-PVw8">https://www.youtube.com/watch?v=nIvwwl-PVw8</a></span></p>

  <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">סימולטור טיסה :&nbsp;</span><a href="https://www.youtube.com/watch?v=75f12kDE2Pk">https://www.youtube.com/watch?v=75f12kDE2Pk</a></p>

  <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">ומשהו מevrydayvr:</span></p>

  <p dir="rtl"><span style="font-family:arial,helvetica,sans-serif;">תצאו לסרט ביחד&nbsp;<a href="https://www.youtube.com/watch?v=m1K3EMJ048Y">https://www.youtube.com/watch?v=m1K3EMJ048Y</a></span></p>




</div>
