


<div class="container" ng-controller="YouGotAMailController as vm">


  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">מאת: {{ items.from }}</h3>
      <h4 class="modal-title">נושא: {{ items.title }}</h4>
    </div>
    <div class="modal-body">

      {{ items.messagebody }}

      <div class="row">
        <div class="span8 well" style="padding-bottom:50px">
          <form name="form" accept-charset="UTF-8" ng-submit="submit(form.$valid, items)">

            <div class="form-group" ng-class="{ 'has-error': form.messagebody.$error.required }">
              <textarea required class="form-control" rows="5"  id="new_message"  name="whoami"  ng-model="messagebody" placeholder="כבוש את ליבה"   ></textarea>
            </div>

            <h6  id="cLeft" class="pull-right">500 אותיות נשארו</h6>
            <button id="sendButton" ng-class="{ 'animated tada': showMessageSendOk  , 'animated rubberBand': showMessageSendFailure}"    class="btn btn-info pull-left"  ng-disabled="form.$invalid" type="submit">
              שלח הודעה
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button class="btn btn-warning" type="button" ng-click="closemodal()">סגור</button>
    </div>
  </script>



  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
  <div class="mail-box">
    <aside class="sm-side">
      <div class="user-head">
        <a class="inbox-avatar pull-right" href="javascript:;">
          <img  width="80" hieght="80" src="{{ vm.myProfilePicture }}">
        </a>

      </div>

      <ul class="inbox-nav inbox-divider">
        <li class="active">
          <a href="#" ng-click="showinbox()"><i class="fa fa-inbox"></i> דואר נכנס <span class="label label-danger pull-right">{{ vm.numunreadmail }}</span></a>

        </li>
        <li>
          <a href="#" ng-click="showsenditems()"><i class="fa fa-envelope-o"></i> דואר יוצא</a>
        </li>
        <li>
          <a href="#"><i class=" fa fa-trash-o"></i> פח אשפה</a>
        </li>
      </ul>
      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
      </ul>

    </aside>
    <aside class="lg-side">
      <div class="inbox-head">
        <h3>Inbox</h3>
        <form action="#" class="pull-right position">
          <div class="input-append">
            <input type="text" class="sr-input" placeholder="Search Mail">
            <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
      <div class="inbox-body">
        <div class="mail-option">
          <div class="chk-all">
            <input type="checkbox" class="mail-checkbox mail-group-checkbox">
            <div class="btn-group">
              <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                All
                <i class="fa fa-angle-down "></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"> None</a></li>
                <li><a href="#"> Read</a></li>
                <li><a href="#"> Unread</a></li>
              </ul>
            </div>
          </div>

          <div class="btn-group">
            <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
              <i class=" fa fa-refresh"></i>
            </a>
          </div>
          <div class="btn-group hidden-phone">
            <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
              More
              <i class="fa fa-angle-down "></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
              <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn mini blue">
              Move to
              <i class="fa fa-angle-down "></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
              <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
            </ul>
          </div>

          <ul class="unstyled inbox-pagination">
            <li><span>1-50 of 234</span></li>
            <li>
              <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
            </li>
            <li>
              <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
            </li>
          </ul>
        </div>

        <table class="table table-inbox table-hover">
          <tbody>
          <tr class="unread"  ng-repeat="mail in vm.myemails"  >
            <td class="inbox-small-cells">
              <input type="checkbox" class="mail-checkbox">
            </td>
            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
            <td  ng-click="open(mail)"  class="view-message  dont-show">{{ mail.from }}</td>
            <td ng-click="open(mail)" class="view-message ">{{ mail.title }}</td>

            <td ng-click="open(mail)" class="view-message  text-right">{{ mail.dated }}</td>
            <td ng-click="openuserprofile(mail)">

               <img  width="80" hieght="80" src="{{mail.imagesrc }}">

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </aside>
  </div>
</div>


